<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="inputContainer">
        <div class="card">
          <div class="card-body">
            <div class="addForm">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="inputField">
                  <b><%= f.label :email %></b>
                </div>
                <div style="text-align:left">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                </div>
                <div class="inputField">
                  <b><%= f.label :first_name %></b>
                </div>
                <div style="text-align:left">
                  <%= f.text_field :first_name %>
                </div>
                <div class="inputField">
                  <b><%= f.label :last_name %></b>
                </div>
                <div style="text-align:left">
                  <%= f.text_field :last_name %>
                </div>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>

                <div class="inputField">
                  <b><%= f.label :password %></b> <i>(leave blank if you don't want to change it)</i>
                </div>
                <div style="text-align:left">
                  <%= f.password_field :password, autocomplete: "new-password" %>
                  <% if @minimum_password_length %>
                    <br />
                    <em><%= @minimum_password_length %> characters minimum</em>
                  <% end %>
                </div>

                <div class="inputField">
                  <b><%= f.label :password_confirmation %></b>
                </div>
                <div style="text-align:left">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                </div>

                <div class="inputField">
                  <b><%= f.label :current_password %></b><i>(we need your current password to confirm your changes)</i>
                </div>
                <div style="text-align:left">
                  <%= f.password_field :current_password, autocomplete: "current-password" %>
                </div>

                <div class="">
                  <%= f.submit "Update Profile Info", class:"addButton" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

