<thead class="thead-dark">
  <tr>
    <th scope="col">Borrow Date </th>
    <th scope="col">Book Title</th>
    <th scope="col">Student Name</th>
    <th scope="col">Status</th>
    <th scope="col">Show Book</th>
    <th scope="col"></th>
  </tr>
</thead>

<tbody>
  <% borrowed_books.each do |borrowed_book| %>
    <tr>
      <td><%= (borrowed_book.created_at).strftime("%B %d, %Y at %l:%M:%S %p") %></td>
      <td><%= borrowed_book.book.title %></td>
      <td><%= borrowed_book.student.lastname %>, <%= borrowed_book.student.firstname %></td>
      <td>
        <% if borrowed_book.book.is_available? %>
          Returned
        <% else %>
          Currently Borrowed
        <% end %>
      </td>
      <td><%= link_to 'Show', borrowed_book %></td>
      <td></td>
    </tr>
  <% end %>
</tbody>
  