<div class="container">
  <div class="row">
    <div class="col">
      <div class="borrowsContainer">
        <div class="addbookContainer">
          <p><%= link_to "Borrow a Book", { action: :new }, class:"addbookButton" %></p>
        </div>
          <div class="searchContainer">
            <%= form_tag(borrowed_books_path, method: :get) do %>
              <b>Search by Borrowed Date:</b><br/> <%= text_field_tag :keyword, params[:keyword], class:"searchBox", placeholder: "YYYY-MM-DD" %>
              <div class="submitTag">
              <%= submit_tag "Search", class: "searchfilterButton" %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="filterOptionsBorrowed">
                <%= link_to filter_books_path(book_status: "borrowed"), remote: true, class: "filterButton", title: "All borrowed books" do %>
                  Borrowed
                <% end %>
                <%= link_to filter_books_path(book_status: "returned"), remote: true, class: "filterButton", title: "All returned books" do %>
                  Returned
                <% end %>
                <%= link_to filter_books_path(book_status: "overdue"), remote: true, class: "filterButton", title: "All overdue books" do %>
                  Overdue
                <% end %>
                <%= link_to filter_books_path(book_status: "all"), remote: true, class: "filterButton", title: "All borrowed books" do %>
                  Show All
                <% end %>
              </div>
              <table class="booksTable table table-responsive-md">
                <%= render partial: "borrowedbooksTable", locals: {borrowed_books: @borrowed_books} %>
              </table>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
