<h1>Add new record for Borrowing a Book</h1>
<%= form_for :borrowed_book, remote: true, url: { controller: :borrowed_books, action: :create } do |f| %>
  <p>
    <%= f.label :student, 'Student:' %><br>
    <%= f.select :student_id, options_for_select(@students.collect { |s| [s.fullname, s.id] }), { include_blank: 'Select Student' } %><br>
  </p>
  <p>
    <%= f.label :book, 'Available Books:' %><br>
    <%= f.select :book_id, options_for_select(@available_books.collect { |b| [b.isbn_and_title, b.id] }), { include_blank: 'Choose a Book' },{ onChange: 'mytest()', id:'bookSelect' } %><br><br>

    <div id="testjs"></div>

    <%= f.label :due_date, 'Due Date:' %>
    <%= f.date_field :due_date, id:'dueDate', disabled: true %><br>
  </p>
  <%= f.submit %>
<% end %>
<%= render 'shared/errors', object: @borrowed_book %>
<%= link_to 'Back', { action: :index } %>

<script type="text/javascript">
  // $(function mytest(){
  //   $('#bookSelect').change(function(e){
  //     e.preventDefault();
  //     var quantity = $('.bookSelect').val();
  //     $('#testjs').html("<h4>(" + quantity + ") ");
  //   });
  // })

  function mytest() {
    var selectVal = $('#bookSelect').val();
    // $('#testjs').html("<h4>(" + selectVal + ")");
    alert(selectVal);
  }
</script>
