<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="showContainer">
        <div class="card">
          <div class="card-header">
            <div class="bookTitle">
              <b><%= @borrowed_book.book.title %></b>
              <% if @borrowed_book.return_date? %>
              <span class="availableTitle">
                <b>Returned</b>
              </span>
              <% else %>
                <span class="unavailableTitle">
                  <b>Currently Borrowed</b>
                </span>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <div class="showDetails">
              <strong>Borrow Date: </strong>
              <p><%= (@borrowed_book.created_at).strftime("%B %d, %Y at %l:%M:%S %p") %></p>
              <strong>Borrower: </strong>
              <p><%= link_to @borrowed_book.student.fullname, action: :show, controller: :students, id: @borrowed_book.student_id %></p>
              <strong>Return Date: </strong>
              <% if @borrowed_book.return_date? %>
                <p> <%= (@borrowed_book.return_date).strftime("%B %d, %Y") %></p>
              <% else %>
                <p>Book is unreturned.</p>
              <% end %>
              <hr/>
              <% if !@borrowed_book.return_date? %>
                <%= link_to 'Confirm Book Return', { action: :return_book, id: @borrowed_book.id }, data: { confirm: 'Are you sure?' } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>



