<thead class="studentTable">
  <tr>
    <th scope="col">LRN</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col"></th>
    <th scope="col">Action</th>
    <th scope="col"></th>
  </tr>
</thead>

<tbody>
  <% students.each do |student| %>
    <tr>
      <td><%= student.lrn %></td>
      <td><%= student.firstname %></td>
      <td><%= student.lastname %></td>
      <td><%= link_to 'Show', student %></td>
      <td><%= link_to 'Edit', edit_student_path(student) %></td>
      <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</tbody>
