<%= form_with model: book do |f| %>
  <div class="inputField">
    <%= f.label :isbn, 'ISBN:' %>
  </div>
  <div class="">
    <%= f.text_field :isbn, required: 'required' %>
  </div>
  <div class="inputField">
    <%= f.label :title, 'Title:' %>
  </div>
  <div class="">
    <%= f.text_field :title, required: 'required' %>
  </div>
  <div class="inputField">
    <%= f.label :author, 'Author:' %>
  </div>
  <div class="">
    <%= f.text_field :author, required: 'required' %>
  </div>
  <div class="inputField">
    <%= f.label :publisher, 'Publisher:' %>
  </div>
  <div class="">
    <%= f.text_field :publisher, required: 'required' %>
  </div>
  <div class="inputField">
    <%= f.label :subject, 'Subject:' %>
  </div>
  <div style="text-align:left;">
    <%= f.select :subject_id, options_for_select(@subjects.collect { |s| [s.name, s.id] }), { include_blank: 'Select Subject' }, required: 'required' %>
  </div>
  <div class="inputField">
    <%= f.label :description, 'Description:' %>
  </div>
  <div class="">
    <%= f.text_area :description %>
  </div>
  <%= f.submit 'Submit', class:'addButton' %>
<% end %>