<div class="container">
  <div class="row">
    <div class="col">
      <div class="booksContainer">
      <% if @user.admin? %>
        <div class="addbookContainer">
          <p><%= link_to "Add a Book", { action: :new }, class:"addbookButton" %></p>
        </div>
      <% end %>
      <% if @books.blank? %>
        <p>There are no books currently or no books found with search.</p>
        <%= link_to 'Back to Books', books_path %>
      <% else %>
        <% if @user.admin? %>
          <div class="container">
            <div class="row">
              <div class="col">
                <div >
                  <%= form_tag(books_path, method: :get) do %>
                    <div class="searchCategory">
                      Search by Category: <%= select_tag :subject, options_for_select(@subjects.collect { |s| [s.name, s.id] }, params[:subject]), { include_blank: 'Select Subject' } %>
                      <%= submit_tag 'Search', :class => 'filtercategoryButton' %>
                    </div>
                  <% end %>
                  <div class="filterOptions">
                    <%= form_tag(books_path, method: :get) do %>
                      <%= text_field_tag :keyword, params[:keyword], class:"searchBox", placeholder: "ISBN or Book Title or Author Name" %> 
                      <div class="submitTag">
                      <%= submit_tag "Search", class: "searchfilterButton" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="container">
            <div class="row">
              <div class="col">
                <div>
                  <%= form_tag(books_path, method: :get) do %>
                    <div class="searchCategory">
                      Search by Category: <%= select_tag :subject, options_for_select(@subjects.collect { |s| [s.name, s.id] }, params[:subject]), { include_blank: 'Select Subject' } %>
                      <%= submit_tag 'Search', :class => 'btn btn-primary btn-sm' %>
                    </div>
                  <% end %>
                  <div class="filterOptions">
                    <%= form_tag(books_path, method: :get) do %>
                      <%= text_field_tag :keyword, params[:keyword], class:"searchBox", placeholder: "ISBN or Book Title or Author Name" %> 
                      <div class="submitTag">
                      <%= submit_tag "Search", class: "searchfilterButton" %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="container">
          <div class="row">
            
            <div class="col">
              <% if @user.admin? %>
                <div id="booksTable">
                  <%= render partial: "booksTable", locals: {books: @books} %>
                </div>
              <% else %>
                <div class="row row-cols-1 row-cols-md-3">
                  <% @books.each do |book| %>
                    <div class="col-md-3">
                      <div class="bookcardContainer">
                        <div class="card">
                          <% if book.is_available %>
                            <div class="card-header availableHeader">
                              <%= link_to book do %>
                                <span class='cardBookLink'><%= book.title %></span>
                              <% end %>
                            </div>
                          <% else %>
                            <div class="card-header unavailableHeader">
                              <b><%= book.title %></b>
                            </div>
                          <% end %>
                          <div class="card-body">
                            <b>ISBN:</b>
                            <%= book.isbn %><br/>
                            <b>Author:</b>
                            <%= book.author %><br/>
                            <b>Shelf Number:</b>
                            <%= book.shelf_number %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%#= will_paginate @books %>
      <% end %>
    </div>
  </div>
</div>

