<div class="container">
  <div class="row">
    <div class="col">
      <div class="booksContainer">
      <% if @user.admin? %>
        <div class="addbookContainer">
          <p><%= link_to "Add a Book", { action: :new }, class:"addbookButton" %></p>
        </div>
      <% end %>
      <% if @books.blank? %>
        <p>There are no books currently or no books found with search.</p>
        <%= link_to 'Back to Books', books_path %>
      <% else %>
        <% if @user.admin? %>
          <div class="container">
            <div class="row">
              <div class="col">
                <div style="float:right;">
                  <div class="filterOptions">
                    <%= form_tag(books_path, method: :get, remote: true) do %>
                      <%= text_field_tag :keyword, params[:keyword], class:"searchBox", placeholder: "Search by ISBN or Book Title or Author" %> 
                      <%= submit_tag "Search", class: "filtercategoryButton" %>
                    <% end %>
                  </div>
                  <%= form_tag(books_path, method: :get, remote: true) do %>
                    <div class="searchCategory">
                      <%= select_tag :subject, options_for_select(@subjects.collect { |s| [s.name, s.id] }, params[:subject]), { include_blank: 'Select Subject' } %>
                      <%= submit_tag 'Search', :class => 'filtercategoryButton' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="container">
            <div class="row">
              <div class="col">
                <div style="float:right;">
                  <div class="filterOptions">
                    <%= form_tag(books_path, method: :get, remote: true) do %>
                      <%= text_field_tag :keyword, params[:keyword], class:"searchBox", placeholder: "Search by ISBN or Book Title or Author" %> 
                      <%= submit_tag "Search", class: "filtercategoryButton" %>
                    <% end %>
                  </div>
                  <%= form_tag(books_path, method: :get, remote: true) do %>
                    <div class="searchCategory">
                      <%= select_tag :subject, options_for_select(@subjects.collect { |s| [s.name, s.id] }, params[:subject]), { include_blank: 'Select Subject' } %>
                      <%= submit_tag 'Search', :class => 'filtercategoryButton' %>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="container">
          <div class="row">
            
            <div class="col">
              <% if @user.admin? %>
                <div id="booksTable">
                  <%= render partial: "booksTable", locals: {books: @books} %>
                </div>
              <% else %>
                <div id="booksCard">
                  <%= render partial: "booksCard", locals: { books: @books } %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <%= will_paginate @books %>
      <% end %>
    </div>
  </div>
</div>

