<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="showContainer">
        <div class="card">
          <div class="card-header">
            <div class="bookTitle">
              <b><%= @book.title %></b>
              <% if @book.is_available %>
              <span class="availableTitle">
                <b>Available</b>
              </span>
              <% else %>
                <span class="unavailableTitle">
                  <b>Unavailable</b>
                </span>
              <% end %>
            </div>
          </div>
          <div class="card-body">
            <div class="showDetails">
              <strong>Author: </strong>
              <p> <%= @book.author %></p>
              <strong>ISBN: </strong>
              <p> <%= @book.isbn %></p>
              <% if @book.publisher.present? %>
                <strong>Publisher: </strong>
                <p> <%= @book.publisher %></p>
              <% end %>
              <strong>Subject: </strong>
              <p> <%= link_to @book.subject.name, action: :show_subjects, id: @book.subject.id %></p>
              <strong>Added on: </strong>
              <p> <%= (@book.created_at).strftime("%B %d, %Y at %l:%M:%S %p") %></p>
              <% if @book.borrow_duration.present? %>
                <strong>Maximum Borrow Days: </strong>
                <p><%= @book.borrow_duration %> days</p>
              <% end %>
              <strong>Shelf Number: </strong>
              <p><%= @book.shelf_number %></p>
              <strong>Description: </strong>
              <p><%= @book.description %></p>
              <% unless @book.is_available? %>
                <strong>Current Borrower: </strong>
                <p><%= @book.borrowed_books.first.student.fullname_norm %>, ISBN: <%= @book.borrowed_books.first.student.lrn %></p>
              <% end %>
              <% if @book.image? %>
              <strong>Image: </strong>
              <p><%= image_tag(@book.image.thumb.url, alt: 'Image') %></p>
              <% end %>
              <hr/>
              <div id="book_<%= @book.id %>_like">
                <%= render partial: 'likes', locals: {book: @book} %>
              </div>
            </div>
            <%= render partial: "comments/comments", locals: {commentable: @book} %>
            <%= render partial: "comments/form", locals: {commentable: @book} %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>

