
<div class="container">
  <div class="row">
    <div class="col">
      <div class="subjectsContainer">
        <div class="addbookContainer">
          <p><%= link_to "Add a Category", { action: :new }, class:"addbookButton" %></p>
        </div>
        <div class="searchContainer">
          <%= form_tag(subjects_path, method: :get) do %>
            <b>Enter a Keyword: </b><br/><%= text_field_tag :keyword, params[:keyword], class:"searchBox", placeholder: "Subject Name" %>
            <div class="submitTag">
            <%= submit_tag "Search", class: "searchfilterButton" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col">
            <table class="subjectsTable table table-responsive-md">
              <%= render partial: "subjectsTable", locals: {subjects: @subjects} %>
            </table>
          </div>
        </div>
      </div>
      <%#= will_paginate @subjects %>
    </div>
  </div>
</div>
