<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="login-wrap p-4 p-md-5">
          <div class="icon d-flex align-items-center justify-content-center">
            <%= image_tag 'pchs-logo.png', class:'signinLogo' %>
            <span class="fa fa-user-o"></span>
          </div>
          <h3 class="text-center mb-4">PCHS LIBRARY MANAGEMENT</h3>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:'login-form') do |f| %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded-left", placeholder: "Username" %>
            </div>
            <div class="form-group d-flex">
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control rounded-left", placeholder: "Password" %>
            </div>
            <div class="form-group d-md-flex">
              <div class="w-50 text-md-left">
                <%= link_to "Sign up", new_registration_path(resource_name) %>
              </div>
              <div class="w-50 text-md-right">
                <a href="#">Forgot Password</a>
              </div>
            </div>
            <div class="form-group">
              <%= f.submit "Log in", class:"btn btn-primary rounded submit p-3 px-5" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

