<div class="row">
    <div class="col-sm-3 text-center">
      <div class="foodContainer shadow p-3 mb-5 bg-white rounded">
        <div class="foodimageContainer">
          <%= image_tag 'burger.png', class:"foodImage" %>
        </div>
        <div class="foodnameContainer">
          <h3>
            100% Meat Dahon Cheeseburger
          </h3>
        </div>
        <div class="foodpriceContainer">
          <h4>
            $5.99
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="foodContainer shadow p-3 mb-5 bg-white rounded">
        <div class="foodimageContainer">
          <%= image_tag 'burger.png', class:"foodImage" %>
        </div>
        <div class="foodnameContainer">
          <h3>
            100% Meat Dahon Cheeseburger
          </h3>
        </div>
        <div class="foodpriceContainer">
          <h4>
            $5.99
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="foodContainer shadow p-3 mb-5 bg-white rounded">
        <div class="foodimageContainer">
          <%= image_tag 'burger.png', class:"foodImage" %>
        </div>
        <div class="foodnameContainer">
          <h3>
            100% Meat Dahon Cheeseburger
          </h3>
        </div>
        <div class="foodpriceContainer">
          <h4>
            $5.99
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="foodContainer shadow p-3 mb-5 bg-white rounded">
        <div class="foodimageContainer">
          <%= image_tag 'burger.png', class:"foodImage" %>
        </div>
        <div class="foodnameContainer">
          <h3>
            100% Meat Dahon Cheeseburger
          </h3>
        </div>
        <div class="foodpriceContainer">
          <h4>
            $5.99
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="foodContainer shadow p-3 mb-5 bg-white rounded">
        <div class="foodimageContainer">
          <%= image_tag 'burger.png', class:"foodImage" %>
        </div>
        <div class="foodnameContainer">
          <h3>
            100% Meat Dahon Cheeseburger
          </h3>
        </div>
        <div class="foodpriceContainer">
          <h4>
            $5.99
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="foodContainer shadow p-3 mb-5 bg-white rounded">
        <div class="foodimageContainer">
          <%= image_tag 'burger.png', class:"foodImage" %>
        </div>
        <div class="foodnameContainer">
          <h3>
            100% Meat Dahon Cheeseburger
          </h3>
        </div>
        <div class="foodpriceContainer">
          <h4>
            $5.99
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="foodContainer shadow p-3 mb-5 bg-white rounded">
        <div class="foodimageContainer">
          <%= image_tag 'burger.png', class:"foodImage" %>
        </div>
        <div class="foodnameContainer">
          <h3>
            100% Meat Dahon Cheeseburger
          </h3>
        </div>
        <div class="foodpriceContainer">
          <h4>
            $5.99
          </h4>
        </div>
      </div>
    </div>
  </div>

  